html, body, ul, li {
    margin: 0;
    padding: 0;
}

.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline ul li .content {
    width: 50%;
}

.timeline ul li .date {
    width: 50%;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: black;
}
