html, body, ul, li {
    margin: 0;
    padding: 0;
}

.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.timeline ul li {
    max-width: 40%;
    margin-bottom: 50px;
    margin-left: 5%;
    list-style-type: none;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: black;
}

.timeline ul li:nth-child(odd) {
    text-align: right;
    
}

.timeline ul li:nth-child(even) {
    position: relative;
    left: 50%;
}